In [ ]:
 #1: Simple Number Triangle Pattern
 rows = 6

for num in range(rows):

    for i in range(num):

        print(num, end=" ") # print number

    # line after each row to display pattern correctly

    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
#2: Inverted Pyramid of Numbers
rows = 5

b = 0

for i in range(rows, 0, -1):

    b += 1

    for j in range(1, i + 1):

        print(b, end=" ")

    print("\r")

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
#3: Half Pyramid Pattern of Numbers
rows = 5

for row in range(1, rows+1):

    for column in range(1, row + 1):

        print(column, end=" ")

    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#4: Inverted Pyramid of Descending Numbers
rows = 5

for i in range(rows, 0, -1):

    num = i

    for j in range(0, i):

        print(num, end=" ")

    print("\r")

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
#5: Inverted Pyramid of the Same Digit
rows = 5

num = rows

for i in range(rows, 0, -1):

    for j in range(0, i):

        print(num, end=" ")

    print("\r")

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [ ]:
#6: Reverse Pyramid of Numbers
rows = 6

for row in range(1, rows):

    for column in range(row, 0, -1):

        print(column, end=" ")

    print("")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
#7: Inverted Half Pyramid Number Pattern
rows = 5

for i in range(rows, 0, -1):

    for j in range(0, i + 1):

        print(j, end=" ")

    print("\r")

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [ ]:
#8: Pyramid of Natural Numbers Less Than 10
currentNumber = 1

stop = 2

rows = 3 # Rows you want in your pattern

for i in range(rows):

    for column in range(1, stop):

        print(currentNumber, end=" ")

        currentNumber += 1

    print("")

    stop += 2

1
2 3 4
5 6 7 8 9

In [ ]:
#9: Reverse Pattern of Digits from 10 
start = 1

stop = 2

currentNumber = stop

for row in range(2, 6):

    for col in range(start, stop):

        currentNumber -= 1

        print(currentNumber, end="  ")

    print("")

    start = stop

    stop += row

    currentNumber = stop

1
3  2
6  5  4
10  9  8  7

In [ ]:
#10: Unique Pyramid Pattern of Digits
rows = 6

for i in range(1, rows + 1):

    for j in range(1, i - 1):

        print(j, end=" ")

    for j in range(i - 1, 0, -1):

        print(j, end=" ")

    print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [ ]:
#11: Connected Inverted Pyramid Pattern of Numbers
rows = 6

for i in range(0, rows):

    for j in range(rows - 1, i, -1):

        print(j,"" , end="")

    for l in range(i):

        print(" ", end="")

    for k in range(i + 1, rows):

        print(k,"" , end="")

    print("\n")

5 4 3 2 1 1 2 3 4 5

5 4 3 2  2 3 4 5

5 4 3   3 4 5

5 4    4 5

5     5

In [4]:
#12: Even Number Pyramid Pattern
rows = 5

LastEvenNumber = 2 * rows

evenNumber = LastEvenNumber

for i in range(1, rows+1):

    evenNumber = LastEvenNumber

    for j in range(i):

        print(evenNumber, end=" ")

        evenNumber -= 2

    print("\r")

10
10 8
10 8 6
10 8 6 4
10 8 6 4 2

In [6]:
#13: Pyramid of Horizontal Tables
rows = 7

for i in range(0, rows):

    for j in range(0, i + 1):

        print(i * j, end=" ")

    print()

0
0 1
0 2 4
0 3 6 9
0 4 8 12 16
0 5 10 15 20 25
0 6 12 18 24 30 36

In [8]:
#14: Pyramid Pattern of Alternate Numbers
rows = 5

i = 1

while i <= rows:

    j = 1

    while j <= i:

        print((i * 2 - 1), end=" ")

        j = j + 1

    i = i + 1

    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [9]:
#15: Mirrored Pyramid (Right-angled Triangle) Pattern of Numbers

rows = 6

for row in range(1, rows):

    num = 1

    for j in range(rows, 0, -1):

        if j > row:

            print(" ", end=" ")

        else:

            print(num, end=" ")

            num += 1

    print("")

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [13]:
#16: Equilateral Triangle with Stars (Asterisk Symbol)
print("Print equilateral triangle Pyramid using stars ")

size = 7

m = (2 * size) - 2

for i in range(0, size):

    for j in range(0, m):

        print(end=" ")

    m = m - 1 # decrementing m after each loop

    for j in range(0, i + 1):

        # printing full Triangle pyramid using stars

        print("* ", end=" ")

    print(" ")

Print equilateral triangle Pyramid using stars
            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

In [15]:
#17: Downward Triangle Pattern of Stars
rows = 5

k = 2 * rows - 2

for i in range(rows, -1, -1):

    for j in range(k, 0, -1):

        print(end=" ")

    k = k + 1

    for j in range(0, i + 1):

        print("*", end=" ")

    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [18]:
#18: Pyramid Pattern of Stars
rows = 5

for i in range(0, rows):

    for j in range(0, i + 1):

        print("*", end=" ")
    print("\r")

*
* *
* * *
* * * *
* * * * *

In [ ]:
#reverse a list of numbers
a=[1,2,3,4,5]

start =0
end =-1

for i in range(int(len(a)/2)):
  a[start],a[end]=a[-i-1],a[i]
  start +=1
  end -=1

print(a)

[5, 4, 3, 2, 1]